.quiz-card {
  background: steelblue;
  padding: 10px;
  width: 320px;
  border-radius: 10px;
  position: relative;
}

.quiz-card__bookmark {
  position: absolute;
  top: -30px;
  right: 10px;
  border: 25px solid lightgray;
  border-bottom-color: transparent;
  height: 30px;
}

.quiz-card__bookmark--selected {
  border: 25px solid orange;
  border-bottom-color: transparent;
}

.quiz-card__button {
  background: greenyellow;
  margin: 0 auto;
  border-radius: 10px;
}

.quiz-card__tag-list {
  list-style: none;
  padding: 0px;
}

.quiz-card__tag-list li {
  background-color: lightgray;

  font-size: 90%;
  padding: 5px;
  border-radius: 10px;
  margin: 8px 0;
  text-align: center;
}
