:root {
  --color-white: #fefefe;
  --color-black: #111;
  --color-primary: #333;
  --color-secundary: #d3d3d3;
  --color-blue: #4682b4;
  --color-orange: #ffa500;
  --color-transparent: rgba(255, 255, 255, 0.2);
}
