.app-header {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 12px;
}

.app-header__heading {
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 1.5rem;
}
